.box{
	margin-top: -10%;
	wedth:100px;
	height:150px;
	background-color: rgba(00,00,00,.4);
}
<style>
p {
  background-image:images/sp.png;
}
</style>

table{
	width: 62%;
	border: 3px solid gray;
	margin: auto;
}

th, td{
	font-size: 20px;
	text-align: left;
	border: 3px solid black;
	margin: auto;
}
